.header {
    width: 100vw;
    height: auto;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: static;
    top: 0;
    width: 100vw;
    z-index: 10;
    
}

#logo {
    max-width: 400px;
    width: 80%;
   
}
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu button {
    margin: 5px 10px;
    padding: 10px 20px;
    border: none;
    background-color: #2a324c;
    cursor: pointer;
}



